<!doctype html>
<html lang="no">
<head>
	{{! Document settings }}
	<meta charset="UTF-8">

	{{! Page meta }}
	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}">

	{{#post}}
		<meta property="og:title" content="{{title}}"/>
		<meta property="og:content" content="{{excerpt}}"/>
		<meta property="og:image" content="{{@blog.logo}}" />
		<meta property="og:type" content="blog" />
		<meta property="og:site_name" content="Make Websolutions AS changelog"/>
		<meta property="og:url" content="{{ url absolute="true" }}"/>
	{{/post}}

	{{! Styles }}
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,100italic,300italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/assets/css/style.css">
	
	{{! Responsive }}
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	{{ghost_head}}
</head>
<body class="{{body_class}}">
	{{{body}}}

	{{ghost_foot}}
	<script src="/assets/js/script.js"></script>
</body>
</html>