{{!< default}}
{{> header }}


<div class="l-changelog-wrapper">
	<main class="l-changelog-main" role="main">
		{{#foreach posts}}
			<article class="changelog-article" role="article">
				<time>
					<i>{{date format="dddd DD MMM"}}</i>
					{{#if tags}}
						<span>{{{tags}}}</span>
					{{/if}}
				</time>
				<div class="changelog-content">
					<h1 class="changelog-posttitle">{{title}}</h1>
					<div class="changelog-postcontent">
						{{{content}}}
					</div>
					{{#if tags}}
					<div class="tags">
						<div class="changelog-posttags">
							Update @{{ tags }}
						</div>
					</div>
					{{/if}}
				</div>
				
			</article>
		{{/foreach}}
		
		{{#if pagination }}
			<div class="changelog-pagination">
				{{{pagination}}}
			</div>
		{{/if}}
		<br /><br />
	</main>
</div>

{{> footer}}

