{{!< default}}
{{> header }}

<div class="l-changelog-wrapper">
	<main class="l-changelog-main" role="main">
		 {{#post}}
			<article class="changelog-article" role="article">
				<time class="changelog-date" data-tag="{{ tags }}" datetime="{{date format="YYYY--MM-DD"}}">
					<i>{{date format="dddd DD MMM"}}</i>
					{{#if tags}}
						<span>{{tags}}</span>
					{{/if}}
				</time>
				<div class="changelog-content">
					<h1 class="changelog-posttitle">{{title}}</h1>
					<div class="changelog-postcontent">
						{{{content}}}
					</div>
					
				</div>
				
			</article>
		{{/post}}
		
		{{#if pagination }}
			<div class="changelog-pagination">
				{{{pagination}}}
			</div>
		{{/if}}
		<br /><br />
	</main>
</div>

{{> footer }}
